body, html {
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

h1 {
    margin: 0px 0px;
    padding: 20px 0px;
    color: white;
    background: cadetblue;
    text-align: center;
}

.main-container {
    width: 1000px;
    margin: 0px auto;
}

.top-container {

}

.block-caption {
    font-weight: 600
}

.top-container .left-col {
    width: 150px;
    float: left;
}

.top-container .left-col label {
    margin: 0px 0px
}

.top-container .left-col p {
    margin: 10px 0px;
}

.top-container .left-col .button-switches label {
    display: block;
    margin: 5px auto;
}

.top-container .right-col {
    overflow: hidden;
}

.top-container .right-col #year-slider {
    height: 30px;
    padding: 15px 20px;
    margin-top: -30px
}

.top-container .right-col #world-chart {
    margin: 0px 10px;
}

.mid-container {
    height: 300px;
    margin-bottom: 20px;
}

.bottom-container {

}

.bottom-container .left-col {
    float: left;
    width: 49%;
    height: 300px;
}

.bottom-container .right-col {
    float: right;
    width: 49%;
    height: 300px;
}

iframe {
    overflow: hidden;
}

#gdp-pct {
    font-weight: 600;
    width: 125px;
}

#include-usa {
    font-weight: 600;
}

.hint {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 16px;
    font-size: 10px;
    color: #333;
}

.description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* DCC overrides */

.rc-slider-mark-text {
}

.rc-slider-handle {
    outline: none;
}