body, html {
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: 'Open Sans', sans-serif;
    _color: white;
    _background: #85A8BA;
}

h1 {
    margin: 0px 0px;
    padding: 20px 0px;
    color: white;
    background: cadetblue;
    text-align: center;
}

.main-container {
    width: 1000px;
    margin: 0px auto;
}

.top-container {

}

.top-container .left-col {
    width: 150px;
    float: left;
}

.top-container .left-col label {
    margin: 0px 0px
}

.top-container .left-col p {
    font-weight: bold;
}

.top-container .left-col .button-switches label {
    display: block;
    margin: 10px auto;
}

.top-container .right-col {
    overflow: hidden;
}

.top-container .right-col #year-slider {
    height: 30px;
    padding: 15px 20px;
    margin-top: -30px
}

.top-container .right-col #world-chart {
    margin: 0px 10px;
}

.mid-container {
    height: 300px;
    _background: #fff3;
    margin-bottom: 20px;
}

.bottom-container {

}

.bottom-container .left-col {
    float: left;
    width: 49%;
    height: 300px;
    _background: #fff3;
}

.bottom-container .right-col {
    float: right;
    width: 49%;
    height: 300px;
    _background: #fff3;
}

iframe {
    overflow: hidden;
}

/* DCC overrides */

.rc-slider-mark-text {
    _color: white !important;
}

.rc-slider-handle {
    outline: none;
}